<div id="navBar">
    <div id="navigation">
      <p>Why not get more random Gifs?</p>
      <button id="generateRandom" ng-click="mCtrl.getRandomImage()">Get Random Gif</button>
    </div>

    <div id="search">
      <form>
        <input type="text" ng-model="mCtrl.search" placeholder="search for a gif here">
        <button ng-click="mCtrl.getSearchImage(mCtrl.search)">Search</button>
      </form>
    </div>
</div>

<div id="viewport">
  <div ng-repeat="image in mCtrl.image track by $index" ng-class="random {{mCtrl.status.one}}">
    <button ng-click="mCtrl.showForm()">Add to Favorite</button>
    <img ng-src="{{image}}">
    <div ng-class="form {{mCtrl.status.two}}">
      <form>
        <input type="text" ng-model="mCtrl.comment" placeholder="why do you like this gif" />
        <button ng-click="mCtrl.hideForm()">Cancel</button>
        <button ng-value="image" ng-click="mCtrl.postFav({url: image, comment: mCtrl.comment})">Ok</button>

      </form>
    </div>
  </div>

  <div ng-repeat="image in mCtrl.results track by $index" class="search {{mCtrl.status.three}}">
    <img ng-src="{{image}}">
    <div>
      <form>
        <input type="text" ng-model="mCtrl.comment" placeholder="why do you like this gif">
        <button ng-value="image" ng-click="mCtrl.postFav({url: image, comment: mCtrl.comment})"></button>
      </form>
    </div>
  </div>
</div>
