<div id="options">
    <div id="navigation">
      <button id="generateRandom" ng-click="mCtrl.getRandomImage()">Get More Random Gifs</button>
    </div>

    <div id="search">
      <form>
        <input type="text" ng-model="mCtrl.search" placeholder="search for gifs here">
        <button ng-click="mCtrl.getSearchImage(mCtrl.search)">Search</button>
      </form>
    </div>
</div>

<div id="viewport">
  <div ng-repeat="image in mCtrl.image track by $index" class="random">
    <div class="imageButton">
      <img class="random" ng-src="{{image}}">
      <button class="random {{mCtrl.statusOne}}" ng-click="mCtrl.showForm()">Add to Favorite</button>
      <div class="{{mCtrl.statusTwo}} form">
        <form>
          <input class="comment" type="text" ng-model="mCtrl.comment" placeholder="why do you like this gif" />
          <div class="choice">
            <button class="enter" ng-value="image" ng-click="mCtrl.postFav({url: image, comment: mCtrl.comment})">Ok</button>
            <button class="exit" ng-click="mCtrl.hideForm()">Cancel</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="random">
    <div ng-repeat="image in mCtrl.results track by $index" class="imageButton">
      <img class="random" ng-src="{{image}}">
      <button class="random {{mCtrl.statusOne}}" ng-click="mCtrl.showForm()">Add to Favorite</button>
      <div class="{{mCtrl.statusTwo}} form">
        <form>
          <input type="text" ng-model="mCtrl.comment" placeholder="why do you like this gif">
          <div class="choice">
            <button class="enter" ng-value="image" ng-click="mCtrl.postFav({url: image, comment: mCtrl.comment})">Ok</button>
            <button class="exit" ng-click="mCtrl.hideForm()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    </div>
</div>
