/* CSS Reset from http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS Reset */

body {
  background-color: #fff7ef;
  font-family: 'Bungee Inline', cursive;
	font-size: 14px;
}

h1 {
  color: #6b824a;
  text-align: center;
	font-size: 3em;
}

button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family: 'Lato', sans-serif;
	font-size:12px;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

button:active {
	position:relative;
	top:1px;
}

#header {
	background-color: #d6e3b5;
	padding: 7%;
}

.navbar {
	text-align: center;
	font: 1.5 em;
	padding-top: 2%;
	color: #ffffff;
}

.navbar a:last-child {
	margin-left: 5%;
}

#options {
  width: 100%;
	padding: 5% 5% 0% 0%;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#options > * {
  display: inline-block;
}

#navigation {
	margin-right: 5%;
}

#search input {
	padding: 10px 30px;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
}

#viewport {
  width: 100%;
	text-align: center;
}

img.random {
	width: 150px;
	display: block;
	height: auto;
	margin: 0 auto;
}

button.random {
	display: block;
	margin: 5% auto 0 auto;
}

input.form {
	display: block;
}

.choice {
	display: block;
}

.comment {
	margin-top: 10%;
}

.imageButton {
	border: 1px solid #ffc3ce;
	margin: 5%;
	padding: 5%;
	background-color: #d6e3b5;
	display: inline-block;
	text-align: center;
}
.form {
	display: block;
	margin: 0 auto;
}

.comment {
	padding: 5%;
	margin: 20% 0 5% 0;
}

.enter, .exit {
	font-size:10px;
	padding:6px 10px;
}

.show {
	display: inline-block;
}

.hide {
	display: none;
}
